/*--------------------------------------------------------------
# farm-cpu-bg
--------------------------------------------------------------*/
.farm-cpu-bg{
  background-color: #545429;
}

/*--------------------------------------------------------------
# cpu-hero
--------------------------------------------------------------*/

.cpu-hero{
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .cpu-img{
   width: 100%;
   height: auto;
   max-width: 1000px;

  }
}

/*--------------------------------------------------------------
# circle-sec
--------------------------------------------------------------*/

.circle-sec{
  text-align: center;
  padding-bottom: 80px;
  @media only screen and (max-width: 767px) {
   padding-bottom: 50px;
  }
  .circle-img{
    width: 100%;
    height: auto;
    max-width: 1100px;
  }
}


/*--------------------------------------------------------------
# t-farming
--------------------------------------------------------------*/
.t-farming{
  padding: 100px 0px;
  @media only screen and (max-width: 1199px) {
   padding: 80px 0px;
  }
  @media only screen and (max-width: 991px) {
    padding: 60px 0px;
   text-align: center;
  }
  h2{
    font-size: 90px;
    color: $primary-color;
    @media only screen and (max-width: 1199px) {
     font-size: 80px;
    }
    @media only screen and (max-width: 991px) {
     font-size: 65px;
     margin-bottom: 16px;
    }
    @media only screen and (max-width: 767px) {
     font-size: 50px;
    }
  }
  .farming-text{
    p{
      &:not(:last-child) {
      margin-bottom: 20px;
      @media only screen and (max-width: 767px) {
       margin-bottom: 15px;
       font-size: 15px;
      }
      }
      font-size: 16px;
      span{
        color: $primary-color;
      }
      a{
        text-decoration: underline;
        color: $text-color;
      }
    }
  }
}

.j-comm{
  h2{
    font-size: 80px;
    color: $primary-color;
    @media only screen and (max-width: 1199px) {
     font-size: 70px;
    }
    @media only screen and (max-width: 991px) {
     font-size: 60px;
     margin-bottom: 16px;
    }
    @media only screen and (max-width: 767px) {
     font-size: 45px;
    }
  }
  .btn-learn{
    font-family: $font-title;
    display: inline-block;
    padding: 8px 25px 7px 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 15px;
    transition: all .2s ease-in;
    &:hover{
      background-color: #fff;
      color: $main-color;
    }
  }
}



/*--------------------------------------------------------------
# farmers-block
--------------------------------------------------------------*/
.farmers-block{
  padding: 100px 0px;
  @media only screen and (max-width: 1199px) {
   padding: 80px 0px;
  }
  @media only screen and (max-width: 991px) {
    padding: 60px 0px;
  }
  .f-block{
    padding-bottom: 40px;
    @media only screen and (max-width: 991px) {
     padding-bottom: 20px;
    }
    .bl-img{
      max-height: 75px;
      margin-bottom: 16px;
      @media only screen and (max-width: 767px) {
       max-height: 65px;
       margin-bottom: 12px;
      }
    }
    h4{
      font-size: 27px;
      color: $primary-color;
      margin-bottom: 20px;
      @media only screen and (max-width: 767px) {
       font-size: 24px;
       margin-bottom: 14px;
      }
    }
    p{
      font-size: 15px;
      &:not(:last-child) {
      margin-bottom: 13px;
      }
      span{
        color:#EBFF55;
        display: inline;
      }
    }
  }
  .farm-btns{
    padding-top: 60px;
    text-align: center;
    @media only screen and (max-width: 1199px) {
     padding-top: 40px;
    }
    @media only screen and (max-width: 991px) {
     padding-top: 30px;
    }
  }
  .try-btn{
    font-family: $font-title;
    display: inline-block;
    padding: 9px 36px 8px 36px;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50px;
    font-size: 16px;
    transition: all .2s ease-in;
    &:hover{
      background-color: $primary-color;
      color: $main-color;
    }
  }
}


/*--------------------------------------------------------------
# farming-cta
--------------------------------------------------------------*/
.farming-cta{
  padding: 100px 0px;
  @media only screen and (max-width: 1199px) {
   padding: 80px 0px;
  }
  @media only screen and (max-width: 991px) {
    padding: 60px 0px;
  }
  text-align: center;
  h2{
    font-size: 46px;
    color: $title-color;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    @media only screen and (max-width: 1199px) {
     font-size: 40px;
     max-width: 680px;
    }
    @media only screen and (max-width: 767px) {
     font-size: 32px;
    }
    span{
      color: $primary-color;
    }
  }
}
