/*--------------------------------------------------------------
# hero-area
--------------------------------------------------------------*/
.hero-area{

  text-align: center;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 482px) {
   min-height: auto;
   padding-top: 120px;
  }

  .hero-text{
    text-align: center;
    h1{
      font-size: 80px;
      margin-bottom:60px;
      @media only screen and (max-width: 1199px) {
       font-size: 70px;
       margin-bottom: 50px;
      }
      @media only screen and (max-width: 991px) {
       font-size: 55px;
       margin-bottom: 40px;
      }
      @media only screen and (max-width: 767px) {
       font-size: 52px;
      }
      @media only screen and (max-width: 482px) {
        font-size: 40px;
       }
    }
    h2{
      font-size: 80px;
      margin-top: 60px;
      @media only screen and (max-width: 1199px) {
        font-size: 70px;
        margin-top: 50px;
       }
       @media only screen and (max-width: 991px) {
        font-size: 55px;
        margin-top: 40px;
       }
       @media only screen and (max-width: 767px) {
        font-size: 52px;
       }
       @media only screen and (max-width: 482px) {
        font-size: 40px;
       }
    }
  }
  .hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
    @media only screen and (max-width: 991px) {
      margin-left: -20px;
      margin-right: -20px;
     }
     @media only screen and (max-width: 767px) {
      margin-left: -10px;
      margin-right: -10px;
     }
     @media only screen and (max-width: 520px) {
      flex-direction: column;
     }
    .single-logo {
      max-height: 120px;
      @media only screen and (max-width: 991px) {
      max-height: 100px;
       }
       @media only screen and (max-width: 767px) {
        max-height: 80px;
       }
       @media only screen and (max-width: 520px) {
      max-height: 70px;
       }
    }
    .cmm{
      margin-left: 30px;
      margin-right: 30px;
      @media only screen and (max-width: 991px) {
        margin-left: 20px;
        margin-right: 20px;
       }
       @media only screen and (max-width: 767px) {
        margin-left: 10px;
       margin-right: 10px;
       }
       @media only screen and (max-width: 520px) {
       &:not(:last-child) {
       margin-bottom: 20px;
       }
       }
    }
    .cmm-btn{
      min-width: 180px;

    }
  }
}

.btn-solid{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  padding: 9px 25px;
  padding-top: 10px;
  border-radius: 50px;
  font-family: $font-title;
  font-size: 15px;
  color: $main-color;
  transition: all .2s ease-in;
  &:hover{
    background-color: transparent;
    color: $primary-color;
  }
}

.btn-outline{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid $primary-color;
  background-color:transparent;
  padding: 9px 25px;
  padding-top: 10px;
  border-radius: 50px;
  font-family: $font-title;
  font-size: 15px;
  color: $primary-color;
  transition: all .2s ease-in;
  &:hover{
    background-color: $primary-color;
    color: $main-color;
  }
}

.btn-black{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #000;
  padding: 9px 25px;
  padding-top: 10px;
  border-radius: 50px;
  font-family: $font-title;
  font-size: 15px;
  color: $primary-color;
  transition: all .2s ease-in;
  &:hover{
    background-color: transparent;
    color: $main-color;
  }
}


.hero-scial{
  margin-top: 60px;
  @media only screen and (max-width: 991px) {
   margin-top: 40px;
   }
   a {
    &:not(:last-child) {
    margin-right: 20px;
    @media only screen and (max-width: 767px) {
     margin-right: 12px;
    }
    }
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius: 50%;
		font-size: 16px;
		color: #000;
		background-color: $primary-color;
		transition: all 0.2s ease-in;
		&:hover {
			transform: translateY(-4px);
      color: $main-color;
      background-color: $text-color;
		}
	}
  svg {
		display: inline-flex;
		height: 15px;
		fill: #000;
	}
}
