@font-face {
  font-family: litheum-text;
  src: url('../fonts/Litheum-Text.woff2');
}

@font-face {
  font-family: litheum-title;
  src: url('../fonts/Litheum-Title.woff2');
}

$font-text: litheum-text;
$font-title: litheum-title;

$main-color:#000;
$primary-color:#EAFF56;
$text-color: rgba(255,255,255,.7);
$title-color:#fff;
$link-color: $primary-color;
